# ignoruj wszystko
/*

# oprócz wskazanych plików
!/.clang-format
!/.gitignore
!/README.md
!/TODO.md
!/CMakeLists.txt

# cmake z zawartoœci¹
!/cmake/
!/cmake/**

# doc jedynie ze wskazanymi plikami
!/doc/
/doc/*
!/doc/doxygen.conf
!/doc/cppreference-doxygen-web.tag.xml
!/doc/CMakeLists.txt
!/doc/footer.html
!/doc/header.html
!/doc/sfml-doxygen-web.tag.xml

# res z zawartoœci¹
!/res/
!/res/**

# src z zawartoœci¹
!/src/
!/src/**
